
.mult {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 510px;
  padding: 40px;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.7), transparent);
}

.mult__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.mult__title {
  position: relative;
  margin: 30px 0;
  padding: 0;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: navy;
  text-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  animation: 12s forwards infinite ease-in-out;
  animation-name: coloration-revert;
}

.mult__subtitle {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: navy;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
}

.mult__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0 50px;
}

.mult__suit {
  display: none;
  width: 150px;
  height: 150px;
  margin: 20px 10px;
  position: relative;
  z-index: 1;
}

.mult__suit:nth-of-type(1) {
  display: block;
}

.mult__suit--red {
  animation: 12s forwards infinite ease-in-out;
  animation-name: spin, coloration;
  color: red;
}

.mult__suit--dark {
  animation: 12s forwards infinite;
  animation-name: spin, coloration-revert;
  color: navy;
}

@keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
  }
}

@keyframes coloration {
  from,
  to {
    color: red;
    fill: red;
    stroke: red;
  }
  50% {
    color: navy;
    fill: navy;
    stroke: navy;
  }
}

@keyframes coloration-revert {
  from,
  to {
    color: navy;
    fill: navy;
    stroke: navy;
  }
  50% {
    color: red;
    fill: red;
    stroke: red;
  }
}

@media (min-width: 768px) {
  .mult {
    justify-content: space-between;
    min-height: 470px;
  }

  .mult__suit {
    display: flex;
    filter: drop-shadow(10px 10px 26px rgba(0, 0, 0, 0.3));
  }

  .mult__title {
    font-size: 90px;
    line-height: 90px;
    margin: 10px 0;
  }

  .mult__subtitle {
    font-size: 30px;
    line-height: 30px;
  }
}
