.form {
	margin: 0;
	padding: 20px 30px;
	color: inherit;
	font-size: 14px;
	line-height: 16px;
}

.form__fieldset {
	margin: 0;
	padding: 14px 0;
	border: none;
}

.form__options {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}

.form__options::after {
	content: "";
	position: absolute;
	top: 0;
	left: -20px;
	right: -20px;
	bottom: 0;
	display: block;
	border: 1px solid lightgrey;
}

.form__options--radio {
	margin-top: 23px;
	padding: 19px 0 25px;
}

.form__option:not(:last-of-type) {
	margin-bottom: 12px;
}

.option {
	position: relative;
	font-size: 14px;
}

.option__label {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin-left: 40px;
	padding: 8px 6px 4px;
	vertical-align: baseline;
	text-transform: uppercase;
}

.option__label::before {
	content: "";
	position: absolute;
	z-index: 1;
	left: -40px;
	width: 30px;
	height: 30px;
	border: 1px solid lightgrey;
}

.option__control--radio + .option__label::before {
	top: 2px;
	border-radius: 50%;
}

.option__control--checkbox + .option__label::before {
	top: 4px;
}

.option__control:checked + .option__label::after {
	content: "";
	position: absolute;
	z-index: 2;
}

.option__control--radio:checked + .option__label::after {
	top: 11px;
	left: -31px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: navy;
}

.option__control--checkbox:checked + .option__label::after {
	top: 10px;
	left: -34px;
	width: 20px;
	height: 11px;
	transform: rotate(-45deg);
	border-bottom: 2px solid navy;
	border-left: 2px solid navy;
}

.option__control:hover + .option__label,
.option__control:focus + .option__label {
	opacity: 1;
}

.option__control:hover + .option__label::before,
.option__control:focus + .option__label::before {
	border: 1px solid grey;
}

.option__control:active + .option__label {
	opacity: 0.3;
}

.option__control:disabled + .option__label {
	opacity: 0.2;
}

.option__control--radio:disabled + .option__label::after {
	background-color: grey;
}

.option__control--checkbox:disabled + .option__label::after {
	border-bottom: 2px solid grey;
	border-left: 2px solid grey;
}


.field {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	flex-shrink: 1;
	position: relative;
	border: 1px solid navy;
	padding: 5px;
}

.field__label {
	color: navy;
}

.field__input {
	flex-grow: 1;
	flex-shrink: 1;
	font: inherit;
	text-transform: inherit;
	text-decoration: underline;
	color: navy;
	border: none;
	margin-left: 14px;
	outline: none;
	box-shadow: none; 
	padding: 5px;
}

.field__input--small {
	max-width: 50px;
}

.field__input:hover,
.field__input:focus {
	color: white;
	background-color: navy;
}

.field__input:invalid {
	color: red;	
}


@media (min-width: 768px) {
	.form {
		font-size: 18px;
		line-height: 20px;
	}
}

